html, body {margin:0;padding:0;}
body {font-family:'Roboto', sans-serif;font-size:15px;line-height:1.5;background-color:#eaeaea;}

/* Global */
.container {width:95%;margin:auto;overflow:hidden;}

#main {max-width:1000px;margin:0 auto;}
header #menu-icon {display:none;}
header {background-color:#000;color:#fff;padding:10px;border-bottom:1px solid #fff;}
header a {color:#fff;text-decoration:none;text-transform:uppercase;font-size:12px;}
header a.active {text-decoration:underline;}
header ul {margin:0;padding:0;}
header li {float:left;display:inline;padding:0 20px 0 20px}
header #branding {float:left;display:none;}
header #branding h1 {margin:0;font-size:14px;}
header nav {float:right;}
header #menu-icon {float:left;color:#fff;font-weight:bold;line-height:0.5;width:40px;}
/*#showcase {min-height:400px;background:url('../images/bg-macbook.jpg') no-repeat 0 -230px;background-size:1000px;text-align:center;color:#fff;}*/
#showcase {min-height:400px;background-color:#fff;}
#content {background-color:#fff;}
#content h2 {font-size:18px;text-transform:uppercase;}
footer {background-color:#fff;text-align:center;color:#000;font-size:12px;}
@media (max-width:768px) {
    header #menu-icon {display:block;float:none;width:100%;}
    header #branding {float:none;display:block;text-align:center;width:100%;padding-top:20px;}
    header nav {float:none;text-align:center;padding-top:20px;}
    header li {float:none;}
    #showcase {background-size:768px;background-position:left -100px;}
    #showcase h2 {padding-top:120px;}
}