* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body {
    font-family:'Poppins', sans-serif;
    background:url('../img/wallpaper-03.jpg') no-repeat fixed center;
    background-size:cover;
    font-size:12px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: normal;
    padding: 10px 0px;
}
.logo {
    position:absolute;
    top:15px;
    left:15px;
}
.logo img {
    width:60px;
}
.logo a {
    display:block;
}
nav {
    overflow:hidden;
    position:absolute;
    right:15px;
    top:15px;
    border:1px solid #cccccc;
    border-radius: 5px;
    user-select: none;
    transition: border-color 0.5s ease, opacity 0.4s ease;
    background-color:#fff;
}
.main-nav {
    display:flex;
    box-sizing: border-box;
    margin:0;
    padding:0;
    list-style:none;
    white-space:nowrap;
}
.main-nav li {
    display:flex;
    align-items:center;
    border-right:1px solid #ccc;
}
.main-nav li:last-child {
    border-right-style:none;
}
.main-nav li a {
    text-decoration: none;
    font-size:12px;
    padding:10px;
    background-color:#fff;
    color:#000;
    font-weight:bold;
    width:100%;
}
.main-nav a:hover {
    background-color:#eaeaea;
}
.side-nav {
    display:none;
    overflow:hidden;
    position:absolute;
    margin:0;
    top:0;
    background-color:#eaeaea;
    padding:10px;
    width:250px;
    height:100%;
    opacity: 0.97;
    z-index:99;
}
.side-nav ul {list-style:none;width:100%;margin:0;padding:0;}
.side-nav a {
    display:block;
    text-decoration:none;
    font-size:14px;
    color:#000;
    padding:20px;
    width:100%;
}
.side-nav a:hover {background-color:white;}
.wallpaper {
    overflow:hidden;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-99;
}
section {
    overflow:hidden;
    border-radius: 5px;
    background-color: #eaeaea;
    width:80%;
    margin:100px auto;
    padding:20px;
    opacity: 0.98;
}
.no-opacity {opacity:1}
section .web-details {
    margin-left:20px;
}
section .project-details {
    width:68%;
    margin:0 auto;
    text-align:justify;
    font-size:12px;
    padding:20px;
}
section .project-img {
    margin:0 auto;
    width:500px;
}
section .project-img img {
    border:1px solid #ccc;
}
div.content-color1 {
    background-color: #fff;
    color: #000;
    margin-bottom:10px;
    padding:20px;
}
div.content-color2 {
    background-color: #fff;
    color: #000;
    margin-bottom:20px;
    padding:20px;
}
footer {
    overflow:hidden;
    border-radius: 5px;
    border:1px solid #ccc;
    width:80%;
    margin:100px auto;
    padding:10px;
    color:gray;
    font-size:14px;
    text-align:center;
    background-color:#fff;
    opacity: 0.65;
}
footer img {
    width:30px;
    vertical-align:middle;
}
.burger-menu ul {
    display:none;
    width:30px;
    list-style:none;
    margin:20px 20px;
    padding:0;
    cursor:pointer;
}
.burger-menu ul li {
    width:100%;
    height:4px;
    margin:6px 0;
    background-color:#fff;
}
.active {
    display:block;
}
code {
    color:#000;
    font-size:12px;
    background-color:lightyellow;
}

.grid {
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 10px;
    align-content: center;
    justify-content: left;
    width:600px;
    height: 70vh;
}

.grid img {
    width: 200px;
    height: 200px;
    border:1px solid gray;
    cursor: pointer;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    align-content: center;
    justify-content: left;
    height: 30vh;
}

.grid2 img {
    width: 300px;
    border:1px solid gray;
    cursor: pointer;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}

#lightbox img {
    border:5px solid #fff;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox a.close {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    top: -215px;
    left: 410px;
    text-align:center;
    color: #ff0000;
    text-decoration:none;
    background-color: #fff;
}

.iphone-txt-bubble {
    display:none;
    background-color: royalblue;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size:11px;
}

.iphone-date {
    font-size:11px;
    color:#ccc;
}

.project-iphone {
    margin:0 auto;
    background-image: url('../img/iphone7-635x315.png');
    background-repeat: no-repeat;
    width: 635px;
    height: 315px;
    padding:30px;
    font-size:13px;
}

.iphone-wrapper {
    display: block;
    position: relative;
    width: 450px;
    height: 260px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
}

.iphone-output {
    display: block;
    width: 100%;
    height: 225px;
    margin: 0 auto;
    overflow: auto;
    padding:10px;
    scrollbar-color: black yellow;
}

.project-iphone input[name=iphone-txt] {
    width:85%;
    padding:6px;
}

#portfolio-vid {
    display: block;
    width:640px;
    height:360px;
    margin:0 auto;
}
#portfolio-vid img {
    width: 640px;
    border:1px solid slategray;
}

#carouselExampleIndicators {
    width: 600px;
    margin:0 auto;
}

#carouselExampleIndicators img {
    border:1px solid #ccc;
}

@media (max-width:768px) {
    .logo {display:block;position:static;margin:0 auto;width:90px;}
    .logo img {display:block;width:90px;margin:20px auto;}
    nav {display:block;position:static;width:200px;margin:auto;}
    .main-nav {display:block;position:static;}
    .main-nav li {float:left;clear:both;width:100%;border-right:none;}
    section {margin-top:50px;}
    .burger-menu ul {display:block;}
    section {font-size:11px;}
    section code {font-size:11px;}
    section .project-img {width:250px;}
    section .project-img img {width:250px;}
    /*section .web-details {margin-left:40px;}*/
    section .project-details {width:100%;padding:10px;}
    section .grid {grid-template-columns: repeat(3, 80px);height:200px;}
    section .grid img {width:100px;height:80px;}
    /*section .grid2 {grid-template-columns: repeat(2, 150px);}
    section .grid2 img {width:150px;}*/
    footer {font-size:11px;}
    #portfolio-vid {width:426px;}
    #portfolio-vid img {width:326px;}
    #portfolio-vid video {width:426px;height:240px;}
    #carouselExampleIndicators {width: 250px;}
}
